{
  "env": {
    "node": true,
    "browser": true,
    "amd": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 8
  },
  "globals": {
    "Primus": true
  },
  "extends": "standard",
  "rules": {
    "semi-style": 0
  }
}
